# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
env/
.venv/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Node / React
node_modules/
dist/
.DS_Store
*.local
frontend/.env
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Temp files from Bandit scanner
/backend/tmp/
*.tmp
